* text=auto eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.woff binary
*.woff2 binary

/.github export-ignore
/docs export-ignore
/.editorconfig export-ignore
/biome.json export-ignore
